*
{
margin: 0;
padding:0;
}
body
{
    background-color: rgb(237, 242, 248);
}
.container
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main
{
    background-color: white;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}
label
{
    display: block;
    text-align: left;
    padding-left: 15px;
    color: #50e3c2;
    font-weight: 900;
}
form
{
    margin-top: 20px;
}
input
{
    width:270px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom:5px ;
    border: 1px solid #50e3c2;
}
input:hover,input:active
{
    border: 2px solid #176c5a;
    
}
input:focus
{
    border: none;
    border: 2px solid #176c5a;
}
#button
{
    width:270px;
    height:30px;
    background-color: rgb(237, 242, 248);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}
#button:hover
{
    background-color:#50e3c2;
    color:white;
}
h1
{
    background: -webkit-linear-gradient(#50e3c2, #079475);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
a
{
    display: block;
    text-decoration: none;
}
.showpass
{
    width:15px;
    height: 15px;
    position: relative;
    bottom: -3px;
    
}
.showp
{
    display: inline;
    text-align: left;
}