@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
.heading
{
    text-align: center;
    color: #8278da;
    font-weight: 900;
    font-family: 'Mr Dafoe', cursive;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-size: 6rem;
    background: -webkit-linear-gradient(#50e3c2, #2336b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



